.container{
    display: flex;
    padding: 10px;
    justify-content: center;
}

img{
    width: 320px;
    height: 340px;
}

h1{
    text-align: center;
}

.contenido{
    width: 200px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 100px;
}

p{
    padding: 5px;
}

ul li{
    list-style: none;
}